#fonctionnement{
    #trait_fonctionnement{
        max-width: 60%;
    }

    .f1, #f2, .f3{
        width: 100%;
        background-color: none;
        float: left;
        display: flex;
        justify-content: space-around;
    }

    #choice_text{
        width: 60%;
        background-color: none;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h4{
            
            src: url("https://use.typekit.net/mph5npf.css");
            font-family: omnes-semicond, sans-serif;
            font-weight: 800;
            font-style: normal;
            font-size: 40px;
            font-weight: black;
            color: #F0143E;
            float: left;
        }

        img{
            float: left;
        }
    }


    .f1{

       #choice_text{

            div{
            
                width: 100%;
                height: 30vh;
                background: none;
                display: flex;
                justify-content: flex-start;
                

                img{
                    margin-left: 30px;
                }

                aside{
                    width: 100%;
                    background: none;
                    margin-left:40px ;

                    #text1{

                        text-decoration: none;
                        font-family: hoss-round, sans-serif;
                        src: url("https://use.typekit.net/mph5npf.css");
                        font-weight: 300;
                        font-style: normal;
                        font-size: 25px;
                     
                        color: $bluevert;
                        background: none;
                        margin-left:40px ;
                        margin-top: 30px;
                    }

                    #text2{
                        text-decoration: none;
                        font-family: hoss-round, sans-serif;
                        src: url("https://use.typekit.net/mph5npf.css");
                        font-weight: 400;
                        font-style: normal;

                        font-size: 16px;
                        
                        color: #464646;
                        background: none;
                        margin-left:40px ;
                        width: 100%;
                        line-height: 30px;
                    }
                }
            }
        
            h1{

                text-decoration: none;
                font-family: hoss-round, sans-serif;
                src: url("https://use.typekit.net/mph5npf.css");
                font-weight: 700;
                font-style: normal;
                font-size: 131px;
                src: url("https://use.typekit.net/mph5npf.css");
                margin-left: 30px;
                color: $bluevert;  
            }
        }

        #choice_picture{
            width: 50%;
            height: 60vh;
            background-color: none;
            float: left;
            display: flex;
            align-items: center;
            justify-content: end;

            img{
                max-width: 70%;
                margin: 0 auto;
               
            }
        }

    }



    //Fonctionnement 2

    #f2{

        width: 100%;
        background-color: none;
        float: left;
       

        #choice_text{

            width: 60%;
            background-color: none;
            float: left;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            h1{

                text-decoration: none;
                font-family: hoss-round, sans-serif;
                src: url("https://use.typekit.net/mph5npf.css");
                font-weight: 700;
                font-style: normal;
                font-size: 131px;
                margin-left: 30px;
                color: $bluevert;
                float: left;  
            }
            
            div{
          
                width: 80%;
                background: none;
                display: flex;
                flex-direction: row;
                
                

                img{
                     margin-left: 30px;
                     
                }

                aside{
                    width: 100%;
                    background: none;
                    float: left;

                    #text1{

                        text-decoration: none;
                        font-family: hoss-round, sans-serif;
                        src: url("https://use.typekit.net/mph5npf.css");
                        font-weight: 300;
                        font-style: normal;
                        font-size: 25px;
                        
                        color: $bluevert;
                        background: none;
                        margin-left:40px ;
                        margin-top: 30px;
                    }

                    #text2{

                        text-decoration: none;
                        font-family: hoss-round, sans-serif;
                        src: url("https://use.typekit.net/mph5npf.css");
                        font-weight: 400;
                        font-style: normal;


                        
                        font-size: 16px;
                        color: #464646;
                        background: none;
                        margin-left:40px ;
                        width: 100%;
                        line-height: 30px;
                        
                    }
                }
                
            }
        }

        #choice_picture{
            width: 40%;
            height: 50vh;
            background-color: none;
            float: left;
            display: flex;
            align-items: center;

            img{
                max-width: 100%;
                margin: 0 auto;
               
            }
        }
    }


    //Fonctionnement 3

    .f3{

        width: 100%;
        background-color: none;
        float: left;

        #choice_text{

            width: 60%;
            background-color: none;
            float: left;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;


            img{ 
                float: left;
            }

            h1{
                text-decoration: none;
                font-family: hoss-round, sans-serif;
                src: url("https://use.typekit.net/mph5npf.css");
                font-weight: 700;
                font-style: normal;


                
                font-size: 131px;
                
                margin-left: 30px;
                color: $bluevert;  
            }

            div{
                width: 80%;
                
                background: none;
                display: flex;
                flex-direction: row;

                img{
                    margin-left: 30px;
                }

                aside{
                    width: 100%;
                    background: none;
                    float: left;

                    #text1{

                        text-decoration: none;
                        font-family: hoss-round, sans-serif;
                        src: url("https://use.typekit.net/mph5npf.css");
                        font-weight: 300;
                        font-style: normal;

                       
                        font-size: 25px;
                        color: $bluevert;
                        background: none;
                        margin-left:40px ;
                        margin-top: 30px;
                    }

                    #text2{
                        text-decoration: none;
                        font-family: hoss-round, sans-serif;
                        src: url("https://use.typekit.net/mph5npf.css");
                        font-weight: 300;
                        font-style: normal;
                        font-size: 16px;
                        color: #464646;
                        background: none;
                        margin-left:40px ;
                        width: 100%;
                        line-height: 30px;
                        
                    }
                }
            }
        }

        #choice_picture{
            width: 40%;
            height: 50vh;
            background-color: none;
            float: left;
            display: flex;
            align-items: center;
            justify-content: end;

            img{
                max-width: 100%;
                margin: 0 auto;
               
            }
        }
    }


}