//Hoss Round

@import url("https://use.typekit.net/kij1fts.css");

//Omnes

@import url("https://use.typekit.net/kij1fts.css");






@font-face {
    font-family: "Omnes Boldery"; 
    src: url("//db.onlinewebfonts.com/t/1036cac40af2bf725ae7fba7c4f3e379.eot"); 
    src: url("//db.onlinewebfonts.com/t/1036cac40af2bf725ae7fba7c4f3e379.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1036cac40af2bf725ae7fba7c4f3e379.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1036cac40af2bf725ae7fba7c4f3e379.woff") format("woff"), url("//db.onlinewebfonts.com/t/1036cac40af2bf725ae7fba7c4f3e379.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1036cac40af2bf725ae7fba7c4f3e379.svg#Omnes") format("svg"); 
}

@font-face{
    src: url("https://use.typekit.net/mph5npf.css");
    font-family: omnes-pro, sans-serif;
    font-weight: 800;
    font-style: normal;
}

//Hoss Round Boldery
@font-face{
    
    src: url("https://use.typekit.net/mph5npf.css");
    font-family: "Hoss Round ";
    font-weight: 700;
    font-style: normal;
}

//Hoss Round Light 

@font-face{
    
    src: url("https://use.typekit.net/mph5npf.css");
    font-family: "Hoss Round  ";
    font-weight: 400;
    font-style: normal;
}

//Hoss Round Light 

@font-face{
    font-family: "Hoss Round ";
    src: url("https://use.typekit.net/mph5npf.css");
    font-weight: 300;
    font-style: normal;
}

//Omnes Bold

@font-face{
    font-family: "Omnes ";
    src: url("https://use.typekit.net/mph5npf.css");
    font-weight: 300;
    font-style: normal;
}

//Font-face Regular
@font-face{
    font-family: hoss-round, sans-serif;
    src: url("https://use.typekit.net/tbd8ilh.css");
    font-weight: 400;
    font-style: normal;
   
}


@font-face{
    font-family: hoss-round, sans-serif;
    src: url("https://use.typekit.net/tbd8ilh.css");
    font-family: hoss-round, sans-serif;
    font-weight: 600;
    font-style: normal;
   
}





